body{
  background-color: skyblue !important;
}

#content{
  width: 960px;
  margin: 0 auto;
}

p , dl , ol{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}


h2{
  text-decoration: underline;
}


header{
  margin-top: 1.4em;
  color: white;
}

header img{
  width: 100%;
}


.livres-populaires .livre img{
  width: 85%;
  height: 23em;
}

@media(max-width:768px){
  .livres-populaires .livre img{
    width: 50%;
  }
}

@media(max-width:576px){
  .livres-populaires .livre img{
    height: 43em;
  }
  h1{
    font-size: 4rem !important;
  }
  h2{
    font-size: 2.5rem !important;
  }
  h3{
    font-size: 2rem !important;
  }
  p , dl , ol , table{
    font-size: 1.5rem !important;
  }
}

.livres-populaires .livre h3{
  font-size: 1.4em;
}

footer{
  background-color: rgb(93, 151, 236);
  margin-top: 1em;
  font-weight: bold;
}

footer p{
  padding: 1rem;
}

nav{
  margin: 1rem auto;
}

nav li{
  padding: 1rem;
}

nav li a{
  font-weight: bold;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.a-propos img{
  width: 100%;
}

.a-propos table{
  background-color: rgb(5, 199, 5);
}

.a-propos table caption{
  color: black;
  font-weight: bold;
}

.boutique h3{
  text-decoration: underline;
}

.evenements img{
  width: 100%;
}

form{
  margin: 0 auto;
  width: 60%;
  padding: 1rem;
}

.oeuvre img{
  width: 100%;
}